root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
max_line_length = 160

[{README.md,.github/{workflows,ISSUE_TEMPLATE}/*.yaml}]
max_line_length = 200

[dist/**]
max_line_length = off
indent_style = unset
trim_trailing_whitespace = unset
