name: Update Major Tag
on:
  workflow_dispatch:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  set-tag:
    if: github.repository_owner == 'jkroepke'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: |
          TAG="${{ github.ref_name }}"
          if [[ "$TAG" =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            TAG="${{ github.ref_name }}"
            TAG="${TAG%%.*}"
            git tag -f "${TAG}"
            git push --tags --force
          fi
