name: Update Major Tag
on:
  workflow_dispatch:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  set-tag:
    if: github.repository_owner == 'jkroepke'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: 'false'

      - name: Push major tag
        #language=bash
        run: |
          TAG="${GITHUB_REF_NAME}"
          if [[ "$TAG" =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            TAG="${TAG%%.*}"
            git tag -f "${TAG}"
            git push --tags --force
          fi
