name: Update Major Tag
on:
  workflow_dispatch:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  set-tag:
    if: github.repository_owner == 'jkroepke'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - run: |
          TAG="${{ github.ref_name }}"
          if [[ "$TAG" =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            TAG="${{ github.ref_name }}"
            TAG="${TAG%%.*}"
            git tag -f "${TAG}"
            git push --tags --force
          fi
